/* 

header.css
------------------------
styling rules for main header component

*/

/* 
    Container
*/
.Container {
    width: calc(100vw - 4rem);
    height: 5rem;
    padding: 0 2rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}